<a href="https://colab.research.google.com/github/202121510/bmt_python/blob/main/21510_10%EC%A3%BC%EC%B0%A8%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])

In [3]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [4]:
type(s)

pandas.core.series.Series

In [8]:
dates = pd.date_range('20210507', periods =6)

In [9]:
dates

DatetimeIndex(['2021-05-07', '2021-05-08', '2021-05-09', '2021-05-10',
               '2021-05-11', '2021-05-12'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=['국어' , '수학', '영어', '물리']

In [17]:
df

                   A         B         C         D
2021-05-07  0.840674 -1.150018  1.420693  2.066543
2021-05-08 -2.395359  0.007384  1.629295  0.874537
2021-05-09  0.616231  0.062709  0.110275 -2.292662
2021-05-10 -1.013408 -1.567914  1.848735  1.758809
2021-05-11 -1.779805  0.263648 -0.804573 -1.177883
2021-05-12  0.113433  0.183317 -0.957168  0.586654

In [18]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2021-05-07 -1.218749 -2.220429  0.612965 -0.990758
2021-05-08  1.271408 -0.376373 -0.361819  0.247638
2021-05-09  0.835420 -0.447456  0.445518  1.330735
2021-05-10  1.229534  0.140372  1.248399  0.813568
2021-05-11  0.083343 -0.512210  0.157435 -0.641269
2021-05-12  0.978683  0.129337  1.448516  0.539200

In [24]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [25]:
df

                   A         B         C         D
2021-05-07 -0.349312  1.408341  0.400973 -1.302594
2021-05-08  1.125867  1.441576 -0.199435  0.061488
2021-05-09  0.337672 -0.424696 -1.773841  1.353820
2021-05-10 -1.967130  1.992322  0.456664  1.128371
2021-05-11 -0.090589  1.701829  0.314133  0.760031
2021-05-12  0.451411  0.057846 -0.671290 -1.286084

In [21]:
df2 = pd.DataFrame(
    {
         'A' :1.,
         'B': pd.Timestamp('20210507'),
         'C': pd.Series(1, index=list(range(4)), dtype='float32'),
         'D': np.array([3] * 4, dtype='int32'),
         'E': pd.Categorical(["test", "train", "test", "train"]),
         'F': 'foo'
    }
)
df2

     A          B    C  D      E    F
0  1.0 2021-05-07  1.0  3   test  foo
1  1.0 2021-05-07  1.0  3  train  foo
2  1.0 2021-05-07  1.0  3   test  foo
3  1.0 2021-05-07  1.0  3  train  foo

In [27]:
df.head()

                   A         B         C         D
2021-05-07 -0.349312  1.408341  0.400973 -1.302594
2021-05-08  1.125867  1.441576 -0.199435  0.061488
2021-05-09  0.337672 -0.424696 -1.773841  1.353820
2021-05-10 -1.967130  1.992322  0.456664  1.128371
2021-05-11 -0.090589  1.701829  0.314133  0.760031

In [26]:
df.tail()

                   A         B         C         D
2021-05-08  1.125867  1.441576 -0.199435  0.061488
2021-05-09  0.337672 -0.424696 -1.773841  1.353820
2021-05-10 -1.967130  1.992322  0.456664  1.128371
2021-05-11 -0.090589  1.701829  0.314133  0.760031
2021-05-12  0.451411  0.057846 -0.671290 -1.286084

In [28]:
df.head(1)

                   A         B         C         D
2021-05-07 -0.349312  1.408341  0.400973 -1.302594

In [29]:
df.tail(2)

                   A         B         C         D
2021-05-11 -0.090589  1.701829  0.314133  0.760031
2021-05-12  0.451411  0.057846 -0.671290 -1.286084

In [30]:
df

                   A         B         C         D
2021-05-07 -0.349312  1.408341  0.400973 -1.302594
2021-05-08  1.125867  1.441576 -0.199435  0.061488
2021-05-09  0.337672 -0.424696 -1.773841  1.353820
2021-05-10 -1.967130  1.992322  0.456664  1.128371
2021-05-11 -0.090589  1.701829  0.314133  0.760031
2021-05-12  0.451411  0.057846 -0.671290 -1.286084

In [31]:
df.index

DatetimeIndex(['2021-05-07', '2021-05-08', '2021-05-09', '2021-05-10',
               '2021-05-11', '2021-05-12'],
              dtype='datetime64[ns]', freq='D')

In [33]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [34]:
df.values

array([[-0.34931186,  1.40834052,  0.40097286, -1.30259413],
       [ 1.12586656,  1.4415765 , -0.19943463,  0.06148781],
       [ 0.33767248, -0.42469551, -1.77384076,  1.35381956],
       [-1.96713007,  1.9923223 ,  0.4566639 ,  1.12837111],
       [-0.09058947,  1.70182896,  0.31413329,  0.76003094],
       [ 0.45141052,  0.05784558, -0.67129004, -1.2860839 ]])

In [35]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.082014  1.029536 -0.245466  0.119172
std    1.053075  0.974800  0.865262  1.179239
min   -1.967130 -0.424696 -1.773841 -1.302594
25%   -0.284631  0.395469 -0.553326 -0.949191
50%    0.123542  1.424959  0.057349  0.410759
75%    0.422976  1.636766  0.379263  1.036286
max    1.125867  1.992322  0.456664  1.353820

In [36]:
df

                   A         B         C         D
2021-05-07 -0.349312  1.408341  0.400973 -1.302594
2021-05-08  1.125867  1.441576 -0.199435  0.061488
2021-05-09  0.337672 -0.424696 -1.773841  1.353820
2021-05-10 -1.967130  1.992322  0.456664  1.128371
2021-05-11 -0.090589  1.701829  0.314133  0.760031
2021-05-12  0.451411  0.057846 -0.671290 -1.286084

In [37]:
df.T

   2021-05-07  2021-05-08  2021-05-09  2021-05-10  2021-05-11  2021-05-12
A   -0.349312    1.125867    0.337672   -1.967130   -0.090589    0.451411
B    1.408341    1.441576   -0.424696    1.992322    1.701829    0.057846
C    0.400973   -0.199435   -1.773841    0.456664    0.314133   -0.671290
D   -1.302594    0.061488    1.353820    1.128371    0.760031   -1.286084