<a href="https://colab.research.google.com/github/202121510/bmt_python/blob/main/21510_9%EC%A3%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
path = '/content/drive/My Drive/DATA/'

fp = open(path+'지역평균기온.txt')
data = fp.read()
fp.close()
print(data)

FileNotFoundError: ignored

In [3]:
path = '/content/drive/My Drive/DATA/'

fp = open(path+'지역평균기온.txt', 'r', encoding='utf-8')
data = fp.readlines()
fp.close()

dt = {}
for line in data :
  line = line.replace('\n','')
  items = line.split(',')
  dt[items[0]] = int(items[1])

dt

FileNotFoundError: ignored

In [4]:
# Colab에서 한글 글꼴 쓰기
!sudo apt-get install -y fonts-nanum
!sudo fc-cache -fv
!rm ~/.cache/matplotlib -rf
# 이후 런타임 재실행

Reading package lists... Done
Building dependency tree
Reading state information... Done
fonts-nanum is already the newest version (20170925-1).
The following package was automatically installed and is no longer required:
  libnvidia-common-460
Use 'sudo apt autoremove' to remove it.
0 upgraded, 0 newly installed, 0 to remove and 34 not upgraded.
/usr/share/fonts: caching, new cache contents: 0 fonts, 1 dirs
/usr/share/fonts/truetype: caching, new cache contents: 0 fonts, 3 dirs
/usr/share/fonts/truetype/humor-sans: caching, new cache contents: 1 fonts, 0 dirs
/usr/share/fonts/truetype/liberation: caching, new cache contents: 16 fonts, 0 dirs
/usr/share/fonts/truetype/nanum: caching, new cache contents: 10 fonts, 0 dirs
/usr/local/share/fonts: caching, new cache contents: 0 fonts, 0 dirs
/root/.local/share/fonts: skipping, no such directory
/root/.fonts: skipping, no such directory
/var/cache/fontconfig: cleaning cache directory
/root/.cache/fontconfig: not cleaning non-existent cache directory
/root/.fontconfig: not cleaning non-existent cache directory
fc-cache: succeeded

In [5]:
fp = open('test.csv')
data = fp.readlines()
fp.close()

dt = {}

for line in data : 
  line = line.replace('\n', '')
  items = line.split(',')
  dt[items[0]] = int(items[1])
print(dt)

area = list(dt.keys())
temp = list(dt.values())
print(area)
print(temp)

# 그래프 그리기

import matplotlib.pyplot as plt

plt.rc('font', family='NanumBarunGothic') # 한글 글꼴 설정

plt.figure(figsize=(10, 5))
plt.plot(area, temp, 'go--', color='skyblue')
plt.scatter([a, b, c, d,] [1, 2, 3, 4])
plt.title('지역평균기온')
plt.show()

FileNotFoundError: ignored

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [9]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])

In [10]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [11]:
dates = pd.date_range('20210430', periods=6)

In [12]:
dates

DatetimeIndex(['2021-04-30', '2021-05-01', '2021-05-02', '2021-05-03',
               '2021-05-04', '2021-05-05'],
              dtype='datetime64[ns]', freq='D')

In [13]:
type(dates)

pandas.core.indexes.datetimes.DatetimeIndex

In [15]:
df = pd.DataFrame(np.random.randn(6,4))index=dates, columns=list('ABCD'))

In [16]:
np.random.randn(6,4)

array([[ 0.67461245,  1.16957738,  1.68874431, -0.29943496],
       [-0.23734873, -0.73201032,  0.2348087 ,  0.27964669],
       [ 0.20668616, -0.02795131, -1.296497  , -0.2308007 ],
       [-0.71214524,  0.35768114, -1.5362524 , -0.07791528],
       [-0.14415833, -1.07822124, -0.03308049,  0.34770998],
       [-0.54480376,  0.03172797,  1.41071795,  0.64571634]])

In [17]:
df

          0         1         2         3
0  1.306262 -0.632854 -1.686159 -1.011392
1  0.361037  1.224120 -1.118365 -0.331094
2  1.398578  2.479112  0.445781  0.752028
3 -1.093826  1.779145  1.025211 -1.124533
4  1.684339 -1.230221  0.314730 -1.632097
5  0.274662  1.423425  0.400817 -0.431467

In [18]:
df2 = pd.DataFrame(
    {
        'A': 1.,
        'B': pd.Timestamp('20201113'),
        'C': pd.Series(1, index=list(range(4)), dtype='float32'),
        'D': np.array([3] * 4, dtype='int32'),
        'E': pd.Categorical(["test", "train", "test", "train"]),
        'F': 'foo'
     }
)

In [20]:
df2

     A          B    C  D      E    F
0  1.0 2020-11-13  1.0  3   test  foo
1  1.0 2020-11-13  1.0  3  train  foo
2  1.0 2020-11-13  1.0  3   test  foo
3  1.0 2020-11-13  1.0  3  train  foo

In [22]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [23]:
dates = pd.date_range('20210430', periods=6)

In [24]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [25]:
df

                   A         B         C         D
2021-04-30  0.039625  0.556187  1.249135 -1.041226
2021-05-01  0.112171  1.171325  0.907151  0.133969
2021-05-02 -1.576167 -1.342843 -0.812220  0.421481
2021-05-03  0.702360  1.201718  0.056681  1.460764
2021-05-04  0.378396  0.914872  0.013026  0.800033
2021-05-05  0.033311 -0.267681  0.506541  0.731719

In [27]:
df.head()

                   A         B         C         D
2021-04-30  0.039625  0.556187  1.249135 -1.041226
2021-05-01  0.112171  1.171325  0.907151  0.133969
2021-05-02 -1.576167 -1.342843 -0.812220  0.421481
2021-05-03  0.702360  1.201718  0.056681  1.460764
2021-05-04  0.378396  0.914872  0.013026  0.800033

In [28]:
df.tail()

                   A         B         C         D
2021-05-01  0.112171  1.171325  0.907151  0.133969
2021-05-02 -1.576167 -1.342843 -0.812220  0.421481
2021-05-03  0.702360  1.201718  0.056681  1.460764
2021-05-04  0.378396  0.914872  0.013026  0.800033
2021-05-05  0.033311 -0.267681  0.506541  0.731719

In [29]:
df.head(2)

                   A         B         C         D
2021-04-30  0.039625  0.556187  1.249135 -1.041226
2021-05-01  0.112171  1.171325  0.907151  0.133969

In [30]:
df.tail(4)

                   A         B         C         D
2021-05-02 -1.576167 -1.342843 -0.812220  0.421481
2021-05-03  0.702360  1.201718  0.056681  1.460764
2021-05-04  0.378396  0.914872  0.013026  0.800033
2021-05-05  0.033311 -0.267681  0.506541  0.731719

In [31]:
dates

DatetimeIndex(['2021-04-30', '2021-05-01', '2021-05-02', '2021-05-03',
               '2021-05-04', '2021-05-05'],
              dtype='datetime64[ns]', freq='D')

In [32]:
df

                   A         B         C         D
2021-04-30  0.039625  0.556187  1.249135 -1.041226
2021-05-01  0.112171  1.171325  0.907151  0.133969
2021-05-02 -1.576167 -1.342843 -0.812220  0.421481
2021-05-03  0.702360  1.201718  0.056681  1.460764
2021-05-04  0.378396  0.914872  0.013026  0.800033
2021-05-05  0.033311 -0.267681  0.506541  0.731719

In [34]:
df.index

DatetimeIndex(['2021-04-30', '2021-05-01', '2021-05-02', '2021-05-03',
               '2021-05-04', '2021-05-05'],
              dtype='datetime64[ns]', freq='D')

In [36]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [38]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.051717  0.372263  0.320052  0.417790
std    0.789938  1.000587  0.733257  0.841635
min   -1.576167 -1.342843 -0.812220 -1.041226
25%    0.034890 -0.061714  0.023940  0.205847
50%    0.075898  0.735529  0.281611  0.576600
75%    0.311839  1.107212  0.806999  0.782954
max    0.702360  1.201718  1.249135  1.460764

In [39]:
df

                   A         B         C         D
2021-04-30  0.039625  0.556187  1.249135 -1.041226
2021-05-01  0.112171  1.171325  0.907151  0.133969
2021-05-02 -1.576167 -1.342843 -0.812220  0.421481
2021-05-03  0.702360  1.201718  0.056681  1.460764
2021-05-04  0.378396  0.914872  0.013026  0.800033
2021-05-05  0.033311 -0.267681  0.506541  0.731719

In [42]:
df.T

   2021-04-30  2021-05-01  2021-05-02  2021-05-03  2021-05-04  2021-05-05
A    0.039625    0.112171   -1.576167    0.702360    0.378396    0.033311
B    0.556187    1.171325   -1.342843    1.201718    0.914872   -0.267681
C    1.249135    0.907151   -0.812220    0.056681    0.013026    0.506541
D   -1.041226    0.133969    0.421481    1.460764    0.800033    0.731719

In [43]:
df

                   A         B         C         D
2021-04-30  0.039625  0.556187  1.249135 -1.041226
2021-05-01  0.112171  1.171325  0.907151  0.133969
2021-05-02 -1.576167 -1.342843 -0.812220  0.421481
2021-05-03  0.702360  1.201718  0.056681  1.460764
2021-05-04  0.378396  0.914872  0.013026  0.800033
2021-05-05  0.033311 -0.267681  0.506541  0.731719

In [46]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2021-04-30 -1.041226  1.249135  0.556187  0.039625
2021-05-01  0.133969  0.907151  1.171325  0.112171
2021-05-02  0.421481 -0.812220 -1.342843 -1.576167
2021-05-03  1.460764  0.056681  1.201718  0.702360
2021-05-04  0.800033  0.013026  0.914872  0.378396
2021-05-05  0.731719  0.506541 -0.267681  0.033311

In [47]:
df.sort_index(axis=1, ascending=True)

                   A         B         C         D
2021-04-30  0.039625  0.556187  1.249135 -1.041226
2021-05-01  0.112171  1.171325  0.907151  0.133969
2021-05-02 -1.576167 -1.342843 -0.812220  0.421481
2021-05-03  0.702360  1.201718  0.056681  1.460764
2021-05-04  0.378396  0.914872  0.013026  0.800033
2021-05-05  0.033311 -0.267681  0.506541  0.731719

In [48]:
df.sort_index(axis=0, ascending=False)

                   A         B         C         D
2021-05-05  0.033311 -0.267681  0.506541  0.731719
2021-05-04  0.378396  0.914872  0.013026  0.800033
2021-05-03  0.702360  1.201718  0.056681  1.460764
2021-05-02 -1.576167 -1.342843 -0.812220  0.421481
2021-05-01  0.112171  1.171325  0.907151  0.133969
2021-04-30  0.039625  0.556187  1.249135 -1.041226

In [51]:
df

                   A         B         C         D
2021-04-30  0.039625  0.556187  1.249135 -1.041226
2021-05-01  0.112171  1.171325  0.907151  0.133969
2021-05-02 -1.576167 -1.342843 -0.812220  0.421481
2021-05-03  0.702360  1.201718  0.056681  1.460764
2021-05-04  0.378396  0.914872  0.013026  0.800033
2021-05-05  0.033311 -0.267681  0.506541  0.731719

In [52]:
df.sort

AttributeError: ignored