<a href="https://colab.research.google.com/github/202121510/bmt_python/blob/main/21510_11%EC%A3%BC%EC%B0%A8%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dates = pd.date_range('20210514', periods=6)
dates

DatetimeIndex(['2021-05-14', '2021-05-15', '2021-05-16', '2021-05-17',
               '2021-05-18', '2021-05-19'],
              dtype='datetime64[ns]', freq='D')

In [3]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [4]:
df

                   A         B         C         D
2021-05-14  0.082523  1.641266  0.187098 -0.432049
2021-05-15  0.812247 -1.512498  0.051605 -0.282829
2021-05-16  0.421962 -0.542371 -1.075808 -1.709812
2021-05-17 -2.404524 -0.165074  0.054257 -0.471929
2021-05-18  0.269655  1.468590 -0.182818 -0.165484
2021-05-19  0.327786  1.418041 -0.824294 -1.462833

In [5]:
df.mean(0)

A   -0.081725
B    0.384659
C   -0.298327
D   -0.754156
dtype: float64

In [6]:
df.mean(1)

2021-05-14    0.369710
2021-05-15   -0.232869
2021-05-16   -0.726507
2021-05-17   -0.746817
2021-05-18    0.347486
2021-05-19   -0.135325
Freq: D, dtype: float64

In [7]:
df

                   A         B         C         D
2021-05-14  0.082523  1.641266  0.187098 -0.432049
2021-05-15  0.812247 -1.512498  0.051605 -0.282829
2021-05-16  0.421962 -0.542371 -1.075808 -1.709812
2021-05-17 -2.404524 -0.165074  0.054257 -0.471929
2021-05-18  0.269655  1.468590 -0.182818 -0.165484
2021-05-19  0.327786  1.418041 -0.824294 -1.462833

In [8]:
df.apply(np.cumsum,axis = 0)

                   A         B         C         D
2021-05-14  0.082523  1.641266  0.187098 -0.432049
2021-05-15  0.894770  0.128768  0.238703 -0.714878
2021-05-16  1.316732 -0.413602 -0.837105 -2.424690
2021-05-17 -1.087791 -0.578676 -0.782848 -2.896618
2021-05-18 -0.818136  0.889913 -0.965665 -3.062102
2021-05-19 -0.490351  2.307955 -1.789959 -4.524935

In [9]:
df.apply(lambda x:x.max() - x.min(), axis = 0)

A    3.216770
B    3.153763
C    1.262906
D    1.544328
dtype: float64

In [10]:
s = pd.Series(np.random.randint(1, 6, size =6))
s

0    1
1    3
2    1
3    4
4    3
5    5
dtype: int64

In [11]:
df = pd.DataFrame(np.random.randn(10, 4))
df

          0         1         2         3
0  1.387922  0.995990  0.909327  0.490621
1  1.267594  0.618650 -1.094187 -0.718383
2 -0.949972 -0.779347 -0.478082  2.901691
3  0.024670  0.013981  1.239645  0.669004
4 -0.499671 -0.510317 -1.718840  0.566848
5  1.700986  0.590296 -0.248538 -0.188303
6  0.561014 -1.632639 -0.031471 -0.833057
7  0.446874 -1.093509 -1.134162  0.903450
8 -0.471492 -0.769021 -1.376597 -0.014782
9  0.191026  1.153469 -0.426649 -0.442780

In [12]:
df[3:7]

          0         1         2         3
3  0.024670  0.013981  1.239645  0.669004
4 -0.499671 -0.510317 -1.718840  0.566848
5  1.700986  0.590296 -0.248538 -0.188303
6  0.561014 -1.632639 -0.031471 -0.833057

In [13]:
df[:3]

          0         1         2         3
0  1.387922  0.995990  0.909327  0.490621
1  1.267594  0.618650 -1.094187 -0.718383
2 -0.949972 -0.779347 -0.478082  2.901691

In [14]:
pieces = [df[:3], df[3:7], df[7:]] 
print(pieces);print()

[          0         1         2         3
0  1.387922  0.995990  0.909327  0.490621
1  1.267594  0.618650 -1.094187 -0.718383
2 -0.949972 -0.779347 -0.478082  2.901691,           0         1         2         3
3  0.024670  0.013981  1.239645  0.669004
4 -0.499671 -0.510317 -1.718840  0.566848
5  1.700986  0.590296 -0.248538 -0.188303
6  0.561014 -1.632639 -0.031471 -0.833057,           0         1         2         3
7  0.446874 -1.093509 -1.134162  0.903450
8 -0.471492 -0.769021 -1.376597 -0.014782
9  0.191026  1.153469 -0.426649 -0.442780]

In [15]:
print(pd.concat(pieces))

          0         1         2         3
0  1.387922  0.995990  0.909327  0.490621
1  1.267594  0.618650 -1.094187 -0.718383
2 -0.949972 -0.779347 -0.478082  2.901691
3  0.024670  0.013981  1.239645  0.669004
4 -0.499671 -0.510317 -1.718840  0.566848
5  1.700986  0.590296 -0.248538 -0.188303
6  0.561014 -1.632639 -0.031471 -0.833057
7  0.446874 -1.093509 -1.134162  0.903450
8 -0.471492 -0.769021 -1.376597 -0.014782
9  0.191026  1.153469 -0.426649 -0.442780

In [16]:
left = pd.DataFrame(
    {'key':['foo', 'foo'],
     'lval': [1, 2]}
    )
right = pd.DataFrame({'key':['foo', 'foo'], 'rval': [4, 5]})

In [18]:
left

   key  lval
0  foo     1
1  foo     2

In [20]:
right

   key  rval
0  foo     4
1  foo     5

In [22]:
pd_merge = pd.merge(left, right, on = 'key')
pd_merge

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

In [23]:
df = pd.DataFrame(np.random.randn(8, 4), columns=['A', 'B', 'C', 'D'])
df

          A         B         C         D
0  1.508128  2.300554  0.677176  2.031039
1 -0.638285 -0.364866 -0.227535 -1.085862
2  0.867965 -0.918111  0.628122  0.299505
3  1.627527 -0.597174 -2.185544 -0.828560
4  1.606692  0.465901 -1.202146 -0.744686
5 -0.863722  0.819924  0.540826 -0.151209
6 -0.677589  0.756492  0.677284 -0.371818
7 -0.559118 -0.652740  1.155348  1.510001

In [25]:
s = df.iloc[3]
s

A    1.627527
B   -0.597174
C   -2.185544
D   -0.828560
Name: 3, dtype: float64

In [27]:
df.append(s, ignore_index=True)

          A         B         C         D
0  1.508128  2.300554  0.677176  2.031039
1 -0.638285 -0.364866 -0.227535 -1.085862
2  0.867965 -0.918111  0.628122  0.299505
3  1.627527 -0.597174 -2.185544 -0.828560
4  1.606692  0.465901 -1.202146 -0.744686
5 -0.863722  0.819924  0.540826 -0.151209
6 -0.677589  0.756492  0.677284 -0.371818
7 -0.559118 -0.652740  1.155348  1.510001
8  1.627527 -0.597174 -2.185544 -0.828560