<a href="https://colab.research.google.com/github/202121510/bmt_python/blob/main/5%EC%A3%BC%EC%B0%A8_%EA%B3%BC%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
tp = (10, 20, 30)

print(f'tp[0] = {tp[0]}')
print(f'tp[:2] = {tp[:2]}')

In [ ]:
tp[-1]

In [ ]:
tp1

In [ ]:
tp2

In [ ]:
tp3

In [ ]:
tp4 = tp3**2

In [ ]:
tpx

In [ ]:
tpy

In [ ]:
tp

In [ ]:
tp[0]

In [ ]:
dt =  {
    'a'= 200
    'b'=150
    'c'=100
}

In [ ]:
dt.keys

In [ ]:
list[dt,keys]

In [ ]:
dt = {'a':200, 'b':150, 'c':100}

print(f'딕셔너리 dt : {dt}')

In [ ]:
dt = {'a':200, 'b':150, 'c':100}

print(f'딕셔너리 키 list(dt.keys()) : {list(dt.keys())}')

In [ ]:
del dt['b']

In [ ]:
#집합 중복없는 요소

In [ ]:
a = (1, 2, 3, 4)
b = [1, 2, 3, 4]
a = (1, 2, 2, 3)
b = [10, 20, 30, 30]

print(f'{a}의 type : {type(a)}')
print(f'{b}의 type : {type(b)}')

b = set(b)
print(f'{b}의 type : {type(b)}')

In [ ]:
d=set(b)

In [ ]:
a.add(100)

In [ ]:
b

In [ ]:
b.update({100, 200, 300})

In [ ]:
a.remove(100)
print(a)

a.clear()
print(a)

In [ ]:
print(f'a집합 = {a}, b집합 = {b}')
print(f'교집합 a & b = {a & b}')
print(f'합집합 a | b = {a | b}')
print(f'차집합 a - b = {a - b}')
print(f'차집합 b - a = {b - a}')

In [ ]:
리스트 튜플 딕셔너리스트 튜플 딕셔너리 폴폴

In [ ]:
lst = [10, 50, 30]
tp = ('a', 'b', 'c')

In [ ]:
for item in lst:
  print(item, end = ' ')

In [ ]:
print()

for item in tp:
  print(item, end = ' ')

In [ ]:
tp,list

In [ ]:
dt = dict(zip(tp, lst))
print(dt)

for item in dt :
  print(f'{item} : {dt[item]}')

In [ ]:
temp = [10.8,  8.5,  8.7,  7.9,  5.1,
         8.1,  8.2, 10.4,   11,  9.9,
         7.8,  9.5, 11.6,  8.2,  7.7,
         6.6, 11.1, 12.2, 12.6, 10.4,
        13.7, 14.1, 12.6, 11.5,   13,
        14.5, 13.7,  9.4, 10.4, 11.6, 12.9]

print(f'최고기온 : {max(temp) : 6.2f} 도')
print(f'최저기온 : {min(temp) : 6.2f} 도')
print(f'평균기온 : {sum(temp) / len(temp) : 6.2f} 도')

In [ ]:
avgtemp = [ 4.5,  6.6, 10.5, 13.4, 
           19.3, 21.1, 24.3, 27.0, 
           23.1, 18.6, 13.0,  7.0]

print(f'평균기온 : {sum(avgtemp) / len(avgtemp) : 6.2f} 도')

In [ ]:
# 다음은 2010~2019년 기온 데이터(년도, 평균, 최소, 최대)이다.
# - 홀수년도만 출력
# - 년도 출력하기
# - 년도와 평균기온 딕셔너리 만들기
# - 평균기온 최소일 때 해당년도 추출하기 예) 2012년 - 14.5도
# - 최고기온 최대일 때 해당년도 추출하기 예) 2016년 - 19.6도
# - 최저기온 최소일 때 해당년도 추출하기 예) 2012년 - 18.6도

In [ ]:
yodd = [item for item in y if item % 2 == 1]
print(yodd)

In [ ]:
y = [str(item) for item in y]
print(y)

In [ ]:
mintemp = min(ytemp.values())
ryear = []

for year, temp in ytemp.items():
  if temp == mintemp:
    ryear.append(year)

print(f'평균기온 최소 {ryear}: {mintemp} 도')
print('-'*50)

In [ ]:
x = int(input('값입력'))

In [ ]:
minv = min(ymin)

# 최소값이 있는 위치
ymlist = []
for i in range(len(ymin)):
  if ymin[i] == minv : ymlist.append(y[i])

print(f'최저기온 최저 {ymlist}: {minv} 도')
print('-'*50)